body {
    background-color: rgb(43, 62, 80);
}

h1 {
    color:green;
    margin-left: 20px;
}

/* #grid {
    width: 300px;
    height: 300px;
} */

.cell {
    outline: 1px solid red;
    float: left;
    height: 100px;
    width: 100px;
}

.btn_act {
    width: 100%;
    height: 80%;
    top: 10%;
    /* footer */
}

.act_row{
    height: 25%;
}

.btn_start{
    width: 45%;
    height: 80%;
}
.btn_cancel{
    width: 45%;
    height: 80%;
}

.drp_sel{
    width: 70%;
    height: 80%;
}

.btn_sel{
    width: 50px;
    height: 50px;
}

* { box-sizing: border-box; }
body {
  font: 12px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 12px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

input[disabled='disabled'],select[disabled='disabled']{
    background-color: #FFFFFF;
}

ul.ui-autocomplete.ui-menu,ui-autocomplete-input{
    font-family: Helvetica;
    font-size:12px;
}
.ui-autocomplete{
    /* Set the fixed height for autocomplete dropdown */
    max-height: 350px;
    min-height: 110px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.ui-combobox {
    position: relative;
    display: inline-block;
}
.ui-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
.ui-combobox-input {
    width: 369px;
    margin: 0;
    padding: 0.3em;
}

label.ui-state-active.ui-button{
    font-weight: bold;
    color: #000099;
    width: 60px;
}
.result{
    font-weight: bold;
    color: #000099;
}
/* <style>
* {
  box-sizing: border-box;
} */
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.input_field{
    width: 100%;
}

.footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:55px;   /* Height of the footer */
   /* background:#6cf; */
}

.footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:55px;   /* Height of the footer */
   /* background:#6cf; */
}

.grid-container {
    width: 100%;
    align-self: center;
    margin-left: 15px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  /* background-color: #2196F3; */
  padding: 10px;
}
.grid-item {
    height: 80px;
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 5px;
  font-size: 30px;
  text-align: center;
}

