<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Uren verantwoording App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css" >
    <script src="{% static 'autocomplete.js' %}"></script>
</head>
<!-- <style>
    h1 {
    color:yellow;
    margin-left: 20px;
}

</style> -->
<!-- {{ register }} -->
<div id="counter"></div>
<body> 

    <form method="POST"> 
        {% csrf_token %}    
            <div class="row" style="width: 100%">
                <div align="center" style="width: 100%">
                <div class="grid-container" >
                    {% for t in register %}
                        <div class="grid-item">
                            <button id= {{ t.RegistratieID }} class= "tegel btn btn-light btn-lg" type="submit" name="tegel" value= {{ t.RegistratieID }} onclick="return confirm(' Are you sure you want stop time of {{ t.Voornaam }} ?')" style="width: 100%; height:100%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;" >
                                <p style="line-height: 1px"><strong>{{ t.Voornaam }}</strong></p>
                                <p style="line-height: 1px"><small>{{ t.ordernummer }}</small></p>
                                <div class= "start" id="starttijd" hidden> {{ t.Starttijd.isoformat }}</div>
                                <div class="elapsed_time small" style="line-height: 1px" id="time"></div>
                                
                                <div style= "text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"><small>{{ t.bedrijf }}</small></div>
                            </button>
                        </div>
                    {% endfor %}
                </div>  
            </div>
        </div>
    </form> 
          <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST">
                    <div class="modal-body">
                            
                        {% csrf_token %}
                        {{ form1.as_p }}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" value="Submit">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<footer class="footer">
    <div class="row" style="width:100%" >
        <div class="align-right" style="margin-left:auto; margin-right:10px;">
            <button type="button" class="btn btn-secondary align-bottom" onclick="reload()">Refresh</button>
            <button type="button" id="myBtn" class="btn btn-primary btn-lg align-bottom" data-toggle="modal" data-target="#myModal">Add Record</button>
        </div>
    </div>
</footer>

<form method="POST" name="mainForm" id="mainForm" > 
    {% csrf_token %}
    
<div class="modal fade" id="myModal" role="dialog">
    <!-- <div class="modal-dialog modal-lg"> -->
    <div class="modal-dialog modal-lg" style="width: 100%">

  <!-- Modal -->
        <div class="modal-content" style="width: 120%">
      <!-- <div class="modal-header">
      </div> -->
            <div class="modal-body" style="background-color: lightgray">    
                <div class="row" style="background-color: lightgray">
                    <div class="col-12" >
                        <div class="row" style="background-color: lightgray;">
                            <div class="col-5"  style="height:300px">
                                <div class="col-12" style="height: 25% ">
                                    <div class="row">
                                        <div class="col-3">
                                            <button type="button" id="btn_sel_project" onclick="btn_sel_project_clicked()" class="btn btn_sel" ></button>
                                        </div>
                                        <input name=”my_id” value="my_form" hidden>   </input>
                                        <div class="col-9">
                                            <div class="autocomplete" >
                                                <input id="input_project" class="input_field" name="inp_project" placeholder="Project" onfocus="input_project_onfocus()">
                                                <!-- <input id="input_user" class="input_field" placeholder="Project" > -->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <div class="col-12" style="background-color: lightgray;  height: 25% ">
                                <div class="row">
                                    <div class="col-3">
                                        <!-- <button type="button" class="btn btn-warning drp_sel">Project2</button> -->
                                        <button type="button" id="btn_sel_user" onclick="btn_sel_user_clicked()" class="btn btn_sel"></button>
                                    </div>
                                    <div class="col-9">
                                    <!-- <form autocomplete="off" action="/action_page.php" style="width:100%"> -->
                                        <div class="autocomplete" >
                                            <input id="input_user" class="input_field" name="inp_user" placeholder="User" onfocus="input_user_onfocus()">
                                        </div>
                                    <!-- </form> -->
                                    </div>
                                </div>
                            </div>

                            <div class="col-12" style="background-color: lightgrey; height: 25% ">
                                <div class="row">
                                    <div class="col-3">
                                        <button type="button" id="btn_sel_task" onclick="btn_sel_task_clicked()" class="btn btn_sel"></button>
                                    </div>
                                    <div class="col-9">
                                        <input id="input_task" class="input_field" name="inp_task" onfocus="input_task_onfocus()" value="" placeholder="Task"> </input>
                                    </div>
                                </div>
                        </div>
                        <div class="col-12" style="background-color: lightrey; height: 25% ">
                            <button type="submit" id="btn_start" class="btn btn-success btn_start"  name="btn_start" >Start</button>
                            <button type="button" class="btn btn-warning btn_cancel" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                    <div class="col-7" >
                        <div class="row act_row">
                                <div class="col-4">
                                    <button type="button" id="btn_act_1" class="btn btn_act" onclick="btn_act_clicked(this)">Start</button>
                                </div>
                                <div class="col-4">
                                    <button type="button" id="btn_act_2" class="btn btn_act" onclick="btn_act_clicked(this)">Start</button>
                                </div>
                                <div class="col-4">
                                    <button type="button" id="btn_act_3" class="btn btn_act" onclick="btn_act_clicked(this)">Start</button>
                                </div>
                            </div>

                            <div class="row act_row">
                                <div class="col-4">
                                    <button type="button" id="btn_act_4" class="btn btn_act" onclick="btn_act_clicked(this)">Start</button>
                                </div>
                                <div class="col-4">
                                    <button type="button" id="btn_act_5" class="btn btn_act" onclick="btn_act_clicked(this)">Start</button>
                                </div>
                                <div class="col-4">
                                    <button type="button" id="btn_act_6" class="btn btn_act" onclick="btn_act_clicked(this)" >Start</button>
                                </div>
                            </div>

                <div class="row act_row">
                    <div class="col-4" >
                        <button type="button" id="btn_act_7" class="btn btn_act" onclick="btn_act_clicked(this)">Start</button>
                    </div>
                    <div class="col-4">
                        <button type="button" id="btn_act_8" class="btn btn_act" onclick="btn_act_clicked(this)">Start</button>
                    </div>
                    <div class="col-4">
                        <button type="button" id="btn_act_9" class="btn btn_act" onclick="btn_act_clicked(this)">Start</button>
                    </div>
                </div>

                <div class="row act_row">
                    <div class="col-4" >
                        <button type="button" id="btn_act_clr"class="btn btn_act" onclick="btn_act_clear()">Clear</button>
                    </div>
                    <div class="col-4"  >
                        <button type="button" id="btn_act_0" class="btn btn_act" onclick="btn_act_clicked(this)">Start</button>
                    </div>
                    <div class="col-4">
                        <button type="button" id="btn_act_tab" class="btn btn_act" onclick="tap_click()">TAB</button>
                    </div>
                </div>
            </div>
          </div>
      </div>
          </div>
      </div>
  </div>
  </form>
</div>
</div>



</html>

<script>
        // $(document).ready(function(){
        //     $(".tegel").click(function(){
        //         //alert(this.id);
        //         // var Id = $(this).data('id');
        //         // alert(Id)
        //         // var mymodal = $('#myModal2');
        //         // mymodal.find('.modal-body').text('Stop tijd van ' + 'test');
        //         // mymodal.modal('show');
        //         $("#myModal2").modal();
        //         // myModal2.find('.modal-body').text('hello');
        //         // myModal2.modal('show');
        //         // state = 1;
        //         // refresh_state();
        //     });
        // });
    
</script>

<script type="text/javascript">
    jQuery(function($){
         $('a.showme').click(function(ev){
             ev.preventDefault();
             var uid = $(this).data('id');
             $.get('test-modal.php?id=' + uid, function(html){
                 $('#modal-7 .modal-body').html(html);
                 $('#modal-7').modal('show', {backdrop: 'static'});
             });
         });

         $(document).on("click","#btn_start", function(e) {
            e.preventDefault();

            console.log("start posting form");
            
            $.ajax({
              url: "/",
              type: "POST",
              data: $("#mainForm").serialize(),
      
              success : function (data) {
                  $("#myModal").hide();

                  window.location = "/";

              },
              error : function (data) {
                  //console.log(data);
                  //console.log("FOUT!!!!" + data.responseJSON.message);
                  alert(data.responseJSON.message)
              }
            });

            console.log("done")

           // $("#myModal").toggle();

         });
    });
</script>

<script>
        $(document).ready(function(){
            $("#myBtn").click(function(){
        
                $("#myModal").modal();
                state = 1;
                refresh_state();
            });
            $("#taskBtn").click(function(){
        
                $("#myModal2").modal();
        
            });
        
            $('#myModal').on('hidden.bs.modal', function () {
                   console.log("LADFLSAFLASFL");
                   clear_all();
            });
        });
        
        // $(document).ready(function(){
        //     $("#myBtn").click(function(){
        //          $("#myModal").modal();
        //         console.log("opening");
        //     });
        //     $('mymodal').on('hidden.bs.modal', function () {
        //         // $(this).find('input').val('');
        //         console.log("tralalal");
        //     });
        //     });
        
        var state =  1;
        var Timer;
        
        function tap_click() {
            state = state + 1;
            if (state > 3){
                state = 1
            }
            refresh_state()
        }
        
        function refresh_state(){
            refresh_sel_btn_color()
            refresh_act_btn_text()
            set_focus()
        }
        
        function input_project_onfocus(){
            state = 1;
            refresh_state()
        }
        
        function input_user_onfocus(){
            state = 2;
            refresh_state()
        }
        
        function input_task_onfocus(){
            state = 3;
            refresh_state()
        }
        function clear_all(){
            document.getElementById("input_project").value = '';
            document.getElementById("btn_sel_project").innerHTML = '';
            document.getElementById("input_user").value = '';
            document.getElementById("btn_sel_user").innerHTML = '';
            document.getElementById("input_task").value = '';
        
        
        }
        
        function set_focus(){
            if (state == 1){
                document.getElementById("input_project").focus();
                //$("#input_user").trigger("focus");
            } else if (state == 2){
                document.getElementById("input_user").focus();
            } else if (state == 3){
                document.getElementById("input_task").focus();
            }
            //$("#input_task").trigger("focus");
        }
        function btn_act_clear(){
            console.log("state =" + state);
            if (state == 1){
                document.getElementById("input_project").value = '';
                document.getElementById("btn_sel_project").innerHTML = '';
        
            }else if (state == 2){
                document.getElementById("input_user").value = '';
                document.getElementById("btn_sel_user").innerHTML = '';
            }else{
                document.getElementById("input_task").value = '';
            }
        }
        
        function btn_act_clicked(sender){
            console.log("btn_act_clicked");
            if (state == 1){
        
                // var x = document.getElementById("btn_sel_project").innerHTML
                // if (x == ''){
                document.getElementById("btn_sel_project").innerHTML = sender.innerHTML.charAt(0);
                // } else {
                //     var index = sender.innerHTML.indexOf(x);
                //     var new_index = index + 1;
                //     document.getElementById("btn_sel_project").innerHTML = sender.innerHTML.charAt(new_index);
                // }
        
                clearTimeout(Timer)
                console.log("timer called");
                Timer = setTimeout(add_project_character, 1);
                // add_project_character();
                document.getElementById("input_project").click();
        
            }else if (state == 2){
                var x = document.getElementById("btn_sel_user").innerHTML
                if (x == ''){
                    document.getElementById("btn_sel_user").innerHTML = sender.innerHTML.charAt(0);
                } else {
                    var index = sender.innerHTML.indexOf(x);
                    var new_index = index + 1;
                    document.getElementById("btn_sel_user").innerHTML = sender.innerHTML.charAt(new_index);
                }
        
                clearTimeout(Timer)
                console.log("timer called");
                Timer = setTimeout(set_user_first_character, 1000);
                document.getElementById("input_user").click();
            }else {
                document.getElementById("input_task").value = sender.innerHTML;
            }
        }
        
        function set_user_first_character(){
            document.getElementById("input_user").value = document.getElementById("btn_sel_user").innerHTML;
            document.getElementById("btn_sel_user").innerHTML = '';
        
            set_focus()
        }
        
        function add_project_character(){
            var x = document.getElementById("input_project").value;
            document.getElementById("input_project").value =  x.concat(document.getElementById("btn_sel_project").innerHTML);
            document.getElementById("btn_sel_project").innerHTML = '';
            set_focus()
        }
        
        function refresh_sel_btn_color() {
            if (state == 1){
                document.getElementById("btn_sel_project").style.backgroundColor = "lightblue";
                document.getElementById("btn_sel_user").style.backgroundColor = "buttonface";
                document.getElementById("btn_sel_task").style.backgroundColor = "buttonface";
            } else if (state == 2){
                document.getElementById("btn_sel_project").style.backgroundColor = "buttonface";
                document.getElementById("btn_sel_user").style.backgroundColor = "lightblue";
                document.getElementById("btn_sel_task").style.backgroundColor = "buttonface";
            } else {
                document.getElementById("btn_sel_project").style.backgroundColor = "buttonface";
                document.getElementById("btn_sel_user").style.backgroundColor = "buttonface";
                document.getElementById("btn_sel_task").style.backgroundColor = "lightblue";
            }
        }
        
        function refresh_act_btn_text() {
            if (state == 1){
                document.getElementById("btn_act_1").innerHTML = "1";
                document.getElementById("btn_act_2").innerHTML = "2";
                document.getElementById("btn_act_3").innerHTML = "3";
                document.getElementById("btn_act_4").innerHTML = "4";
                document.getElementById("btn_act_5").innerHTML = "5";
                document.getElementById("btn_act_6").innerHTML = "6";
                document.getElementById("btn_act_7").innerHTML = "7";
                document.getElementById("btn_act_8").innerHTML = "8";
                document.getElementById("btn_act_9").innerHTML = "9";
                document.getElementById("btn_act_0").innerHTML = "0";
            } else if (state == 2){
                document.getElementById("btn_act_1").innerHTML = "";
                document.getElementById("btn_act_2").innerHTML = "ABC";
                document.getElementById("btn_act_3").innerHTML = "DEF";
                document.getElementById("btn_act_4").innerHTML = "GHI";
                document.getElementById("btn_act_5").innerHTML = "JKL";
                document.getElementById("btn_act_6").innerHTML = "MNO";
                document.getElementById("btn_act_7").innerHTML = "PQRS";
                document.getElementById("btn_act_8").innerHTML = "TUV";
                document.getElementById("btn_act_9").innerHTML = "WXYZ";
                document.getElementById("btn_act_0").innerHTML = "";
            } else {
                document.getElementById("btn_act_1").innerHTML = "Snijden";
                document.getElementById("btn_act_2").innerHTML = "Confectie";
                document.getElementById("btn_act_3").innerHTML = "Schoon maken";
                document.getElementById("btn_act_4").innerHTML = "Diverse";
                document.getElementById("btn_act_5").innerHTML = "Labels maken";
                document.getElementById("btn_act_6").innerHTML = "Inpakken";
                document.getElementById("btn_act_7").innerHTML = "Draaien Rondstrop";
                document.getElementById("btn_act_8").innerHTML = "Administratie";
                document.getElementById("btn_act_9").innerHTML = "Voorraad";
                document.getElementById("btn_act_0").innerHTML = "Opruimen";
            }
        }
        
        function btn_sel_project_clicked() {
            state = 1;
            refresh_state()
        }
        
        function btn_sel_user_clicked() {
            state = 2;
            refresh_state()
        }
        
        function btn_sel_task_clicked() {
            state = 3;
            refresh_state()
        }
        
        
        </script>
<script>
        /*An array containing all the country names in the world:*/
        // var countries = ["Afghanistan", "Albania","Algeria","Andorra","Angola","Anguilla","Antigua & Barbuda","Argentina","Armenia","Aruba","Australia","Austria","Azerbaijan","Bahamas","Bahrain","Bangladesh","Barbados","Belarus","Belgium","Belize","Benin","Bermuda","Bhutan","Bolivia","Bosnia & Herzegovina","Botswana","Brazil","British Virgin Islands","Brunei","Bulgaria","Burkina Faso","Burundi","Cambodia","Cameroon","Canada","Cape Verde","Cayman Islands","Central Arfrican Republic","Chad","Chile","China","Colombia","Congo","Cook Islands","Costa Rica","Cote D Ivoire","Croatia","Cuba","Curacao","Cyprus","Czech Republic","Denmark","Djibouti","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Equatorial Guinea","Eritrea","Estonia","Ethiopia","Falkland Islands","Faroe Islands","Fiji","Finland","France","French Polynesia","French West Indies","Gabon","Gambia","Georgia","Germany","Ghana","Gibraltar","Greece","Greenland","Grenada","Guam","Guatemala","Guernsey","Guinea","Guinea Bissau","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Isle of Man","Israel","Italy","Jamaica","Japan","Jersey","Jordan","Kazakhstan","Kenya","Kiribati","Kosovo","Kuwait","Kyrgyzstan","Laos","Latvia","Lebanon","Lesotho","Liberia","Libya","Liechtenstein","Lithuania","Luxembourg","Macau","Macedonia","Madagascar","Malawi","Malaysia","Maldives","Mali","Malta","Marshall Islands","Mauritania","Mauritius","Mexico","Micronesia","Moldova","Monaco","Mongolia","Montenegro","Montserrat","Morocco","Mozambique","Myanmar","Namibia","Nauro","Nepal","Netherlands","Netherlands Antilles","New Caledonia","New Zealand","Nicaragua","Niger","Nigeria","North Korea","Norway","Oman","Pakistan","Palau","Palestine","Panama","Papua New Guinea","Paraguay","Peru","Philippines","Poland","Portugal","Puerto Rico","Qatar","Reunion","Romania","Russia","Rwanda","Saint Pierre & Miquelon","Samoa","San Marino","Sao Tome and Principe","Saudi Arabia","Senegal","Serbia","Seychelles","Sierra Leone","Singapore","Slovakia","Slovenia","Solomon Islands","Somalia","South Africa","South Korea","South Sudan","Spain","Sri Lanka","St Kitts & Nevis","St Lucia","St Vincent","Sudan","Suriname","Swaziland","Sweden","Switzerland","Syria","Taiwan","Tajikistan","Tanzania","Thailand","Timor L'Este","Togo","Tonga","Trinidad & Tobago","Tunisia","Turkey","Turkmenistan","Turks & Caicos","Tuvalu","Uganda","Ukraine","United Arab Emirates","United Kingdom","United States of America","Uruguay","Uzbekistan","Vanuatu","Vatican City","Venezuela","Vietnam","Virgin Islands (US)","Yemen","Zambia","Zimbabwe"];
        var names = {{ names|safe }};
        var projects = {{ projects|safe }};
        // var projects =  ['18234', '18235', '18236', '18237', '18238'];
        /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
        autocomplete(document.getElementById("input_user"), names,1);
        
        autocomplete(document.getElementById("input_project"), projects,2);
        
        
        
        
        
        
        //
        // $('#Start_activity').on('hidden.bs.modal', function(e) {
        //   $(this).find('#form2')[0].reset();
        //   console.log("Closing model");
        //
        // });
        //
        // $(function () {
        //   // Delegating to `document` just in case.
        //   $(document).on("hidden.bs.modal", "#Start_activity", function () {
        //       console.log("Closing model");
        //     $(this).find("#info").html(""); // Just clear the contents.
        //     $(this).find("#info").remove(); // Remove from DOM.
        //   });
        // });
        //
        // $('#Start_activity').on('hidden.bs.modal', function (e) {
        //   // do something...
        //   console.log("Closing model");
        //
        //
        // })
        </script>

        <script>
            var t=setInterval(timerIncrement,1000);
            
            function timerIncrement(){
                // Funciton to calculate the differece between the
                //  starttime and the current time
                
                var now = new Date();
                console.log()
                
                var tegels = document.getElementsByClassName("grid-item");

                for (var i = 0; i < tegels.length; i++) { 
                    
                    var test = tegels[i].getElementsByClassName("start");
                    var starttijd = test[0].innerHTML;

                    var a = starttijd.split(/[^0-9]/);
                    var d = new Date (a[1],a[2]-1,a[3], a[4], a[5], a[6] );

                    var diff =  now - d;
                
                    var ding = tegels[i].getElementsByClassName("elapsed_time");
                    ding[0].innerHTML = msToTime(diff);
                    //document.getElementById('counter').innerHTML = diff;

                }

            }
            function msToTime(s) {
                var ms = s % 1000;
                s = (s - ms) / 1000;
                var secs = s % 60;
                s = (s - secs) / 60;
                var mins = s % 60;
                var hrs = ((s - mins) / 60);
                var mins = ("0" + mins).slice(-2);
                var secs = ("0" + secs).slice(-2);
                return hrs + ':' + mins + ':' + secs;
            }
            
                
        </script>

<script>
        var time = new Date().getTime();
        $(document.body).bind("mousemove keypress", function(e) {
            time = new Date().getTime();
        });
   
        function refresh() {
            if(new Date().getTime() - time >= 10000) 
                window.location.reload(true);
            else 
                setTimeout(refresh, 10000);
        }
   
        setTimeout(refresh, 10000);
   </script>

<script>
        function reload() {
            location.reload();
        }
        </script>
        
        